aniso8601==9.0.1
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-JWT-Extended==4.2.1
Flask-RESTful==0.3.9
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
PyJWT==2.1.0
pymongo==3.11.4
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sklearn==0.0
dnspython
threadpoolctl==2.1.0
Werkzeug==2.0.1
uwsgi
flask_cors
